flask
pandas
numpy 
bs4
nlkt
string
re
spacy
sets
sklearn
json
joblib
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
gunicorn
unidecode
regex==2020.7.14
