<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet"/>
    <title>Proposition de Tags StackOverflow</title>
  </head>

  <body>
    <div class="content">
      <header>
        <div class="header-background"></div>
        <div class="title">
          <h1>
            Résultats de l'analyse
          </h1>
        </div>
      </header>
          <fieldset>
            <legend><h3>Informations données</h3></legend>
            <p>
                <label for='title'>Titre du message: </label>
                {{title}}
                <br>
                <br>
                <label for='body'>Message: </label>
                {{body}}
            </p>
          </fieldset>  

          <fieldset>
            <legend><h3>Tags proposés par l'Approche non supervisée</h3></legend>
            <p>
                <label for='tags_dominants'><h3>Tags dominants :</h3></label>
                {{resultats_tags_Topic_dominant_LDA}}
                <br>
                <br>
                <label for='tags_globaux'><h3>Tags globaux :</h3></label>
                {{resultats_tags_Topic_global_LDA}}
            </p>
          </fieldset> 

          <fieldset>
            <legend><h3>Tags proposés par l'Approche supervisée</h3></legend>
            <p>
                <label for='tags_Stack_Overflow'><h3>Tags prédits :</h3></label>
                {{resultats_tags_classification}}
            </p>
          </fieldset> 

  </body>
</html>